body {
    background-image: url(../images/backImg.png);
    background-repeat: no-repeat !important;
    background-size: 100%;
    padding: 5%;
}

section {
    background: url(../images/backImg.png);
    background-repeat: no-repeat !important;
    background-size: 0 100%;
    margin: auto;
    box-shadow: 0 0 20px black;
    width: 95%;
    padding: 20% 2%;

}

div.container {
    position: relative;
    background: #fff;
    width: 80%;
    margin: auto;
    padding: 1vh 0;
    box-shadow: 0 0 10px black;
}

.container h1 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10vh;
}

img {
    border-radius: 50%;
    position: absolute;
    padding: 0;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
}

form {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

div.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh;
}

label {
    margin-left: 35%;
    font-size: 2vh;
    margin-bottom: 1vh;
}

input {
    padding: 0.5vh 3vh;
    font-size: 2vh;
    margin: auto;
}

div.row {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

button {
    padding: 1vh 2vh;
    font-size: 1.5vh;
    cursor: pointer;
}