table {
  margin: auto;
  /* border-radius: 10px; */
}

table, th, td {
  border: 1px solid;
}

th {
  background-color: #f1f1f1;
}

caption, th, td {
  font-size: 3vw;
}

td {
  font-family: sans-serif;
  direction: rtl;
}

td, th {
  padding: 2vw;
}
