body {
    background: rgb(146,145,173);
}

div.headContin {
    display: flex;
    flex-basis: 100%;
    background: rgb(28,16,204);
    background: linear-gradient(69deg, rgba(28,16,204,1) 2%, rgba(7,179,214,1) 100%);
    border: 2px solid black;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.leftGroup {
    display: flex;
    justify-content: flex-start;
}

nav.logo {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0 1rem; 
    width: 100%;
}

nav.home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding: 1rem;
}

div.enterGroup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav.login, nav.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

nav.login {
    /* border-left: 1px solid white; */
    border-right: 1px solid white;
}

nav i {
    padding-right: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: tomato;
    opacity: 0.8;
}

a:active {
    color: red;
    opacity: 1;
}

i:hover {
    cursor: default;
}

div.text {
    display: flex;
    flex-direction: column;
}

span.textHead {
    text-align: center;
    margin: 2% 0;
}

.textHead h1 {
    display: inline;
    font-size: 2vw;
}

.textHead h1:hover {
    color: chartreuse;
    text-shadow: 2px 2px 1px black ;
}

div.text p {
    font-size: 2vw;
    margin: 0;
    text-align: justify;
}

.bodyPage {
    display: flex;
    border: 1px solid rgba(100, 100, 100, 0.904);
    margin: 3% 0;
    padding: 1%;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    margin-right: 1%;
    /* justify-content: center; */
    align-items: center;
}

.mainContine {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.image img {
    width: 100%;
    border-radius: 10px;
}

textarea {
    resize: none;
    border-radius: 5px;
    direction: rtl;
}

aside {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
    margin-left: 1%;
    /* justify-content: center; */
    align-items: center;
}

div.sideContine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideContine > img {
    width: 100%;
    border-radius: 50%;
}

.iconClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style-type: none;
    direction: rtl;
    padding: 0;
}

.list {
    display: flex;
    align-self: baseline;
    padding: 2%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list i {
    padding-left: 5px;
}

div.formContine {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin: 5% 0;
}

div.comBtn {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
}

.areaBtn {
    padding: 2% 5%;
    cursor: pointer;
}

.comHead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comHead > i {
    order: 1;
    padding-left: 5px;
    cursor: pointer;
}

.comHead h2 {
    cursor: pointer;
    color: aqua;
    /* text-shadow: -2px 2px black; */
}

#comCount {
    padding-right: 5px;
}

.comSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.comItem {
    display: flex;
    border-top: 1px dotted lawngreen;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.comItem p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    
}

.spec {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0;
}

.spec img {
    order: 1;
    padding-left: 20px;
}

.spec h3 {
    color: red;
}

.formCom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#name {
    direction: rtl;
    text-align: right;
}

.commentBtn {
    display: flex;
    justify-content: space-around;
}

.nameSec {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nameSec input {
    padding: 2% 10%;
}





footer {
    display: flex;
    flex-basis: 100%;
    height: 200px;
    background: rgb(12, 12, 48);
    border: 1px solid black;
    margin-top: 5%;
}

